<style>
#followButton {
    color: #121516;
    text-shadow: 0 1px 1px #ccc;
    padding: 0.2em 0.4em;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

    -moz-box-shadow: 0px 0px 2px #666;
    -webkit-box-shadow: 0px 0px 2px #666;
    box-shadow: 0px 0px 2px #666;

    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#aaaaaa));
    background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -ms-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -o-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: linear-gradient(top, #eeeeee, #aaaaaa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#aaaaaa');
}
#followButton img { position: relative; top: 2px; margin: -6px 6px 0 0; }
</style>   

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
      <section>
        <h4>Profile</h4>
        <p>Rapyuta Roboticsで警備ドローンを開発しています。</p>
        <p>学部時代は自律サッカーヒューマノイドの開発プロジェクトのリーダーをやってました。</p>
        <p>2014年度ロボカップ世界大会で優勝し、ルイヴィトンベストヒューマノイドを獲得</p>
        <p>ros-jpの勉強会主催者</p>
        <p>つくばチャレンジ等にも参加</p>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/daikimaekawa" data-format="inline" data-related="false"></script>
        
      </section>
      <section>
        <br>　</br>
        <html>
          <head>
          <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'> </script>
          <link href="http://coderwall.com/stylesheets/jquery.coderwall.css" media="all" rel="stylesheet" type="text/css">
          <script src="http://coderwall.com/javascripts/jquery.coderwall.js"></script>
          <style type="text/css">
            #badge_description {
            display:none;
            position:absolute;
            padding:5px; margin-left:10px;
            color:white;background-color:#505050;
          }
          </style>
          <script type="text/javascript">
          function set_description() {
            var msg_box;
            $("img").hover(function(){
            if ( $(this).hasClass("coderwall-badge")) {
              var text = $(this).attr("alt");
              var offset = $(this).offset();
              msg_box = $("#badge_description").get(0);
              msg_box.style.display = "inline";
              msg_box.innerText = text;
              msg_box.textContent = text;
              msg_box.style.left = offset.left;
              msg_box.style.top = offset.top + 60;
            }
          }, function() {
            msg_box = $("#badge_description").get(0);
            msg_box.style.display = "none";
          });
          };
          </script>
          </head>
          <body onload="set_description()">
            <section class="coderwall" data-coderwall-username="daikimaekawa" data-coderwall-orientation="horizontal"></section>
            <span id="badge_description">badge_description about badge's</span>
          </body>
        </html>
        
      </section>
      <section>
        <br>　</br>
        <p><a href="https://github.com/DaikiMaekawa" 
            title="Follow DaikiMaekawa on Github" 
            id="followButton" class="noBg"> 
            <img src="https://github.com/favicon.ico" width="18" height="18" />
            Follow me on Github
        </a> </p>

        <p><a href="http://qiita.com/DaikiMaekawa" 
            title="Follow DaikiMaekawa on Qiita" 
            id="followButton" class="noBg"> 
            <img src="http://qiita.com/favicon.ico" width="18" height="18" />
            Follow me on Qiita
        </a> </p>
      </section>
      <section>
        <h4>総訪問者数</h4>
          <script language="Javascript">
          document.write('<a href="http://www.f-counter.jp/k2/65/17/1386490417/"></a>');</script><noscript>
          <a href=http://qhg.f-counter.com/>カウンター</a></noscript>
          <a href=http://www.free-counter.jp/>
          <img src="http://www.f-counter.net/j/17/1386490417/" alt="アクセスカウンター" border="0"></a> 
      </section>
      <section>
      　<br/>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="DaikiMaekawa" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){
                js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document, 'script', 'twitter-wjs'); </script>
      </section>
      <section>
        <br/>
        <!-- 記事をいいね！するボタン -->
        <div class="fb-like" expr:data-href="data:post.url" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"/>
      </section>
    {% endunless %}         
  </div>
</div>
